#erreur {
    margin-top: 50px;
    
    h1 {
        font-weight: 700;
        font-size: 288px;
        color: #FF6060;
    }

    p {
        font-weight: 500;
        font-size: 36px;
        color: #FF6060;
        margin-bottom: 50px;
    }

    Link {
        font-weight: 500;
        font-size: 18px;
        color: black;
    }
}

@media screen and (max-width: 768px) {

    #erreur {
        gap: 80px;

        h1 {
            font-size: calc(0.4286 * 100vw - 41.1429px);
        }

        p {
            font-size: calc(0.04018 * 100vw + 5.1429px);
            text-align: center;
        }

        Link {
            font-size: calc(0.00893 * 100vw + 11.14286px);
        }
    }
}