.contenu-apropos {
    margin-top: 30px;
    width: 82.5%;

    .element-apropos {

        .titre {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #FF6060;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 700;
            color: white;
            padding: 15px 10px;

            img {
                width: 24px;
                height: 13px;
                cursor: pointer;
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }

            .img-active {
                transform: rotate(180deg);
            }
        }
        
        .element-apropos-contenu {
            padding: 0;
            background-color: #F6F6F6;
            font-size: 18px;
            font-weight: 400;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.5s ease;
        }

        .actif {
            padding: 20px;
            max-height: 100%;
        }
    }
}