.contenu-apropos {
    margin-top: 30px;
    width: 82.5%;

    .element-apropos {

        header {
            background-color: #FF6060;
            border-radius: 10px;
            padding: 15px 10px;

            h2 {
                font-size: 18px;
                font-weight: 700;
                color: white;
            }
            button {
                border: none;
                background-color: rgba(0, 0, 0, 0);
            }
            img {
                width: 24px;
                height: 13px;
                cursor: pointer;
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }

            .img-active {
                transform: rotate(180deg);
            }
        }
        
        .element-apropos-contenu {
            padding: 0;
            background-color: #F6F6F6;
            font-size: 18px;
            font-weight: 400;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.5s ease;
        }

        .actif {
            padding: 20px;
            max-height: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .contenu-apropos {

        .element-apropos {

            header {
                text-transform: none;
                h2 {
                    font-size: calc(0.01116 * 100vw + 9.42857px);
                }
            }
            

            .element-apropos-contenu {
                font-size: calc(0.020089 * 100vw + 2.571px);
            }
        }
    }
    
}