header {
    padding-top: 45px;
    font-size: 24px;
    font-weight: 500;

    img {
        width: 210px;
        height: 68px;
    }

    nav {
        gap: 57px;

        .nav-link {
            color: black;
            text-decoration: none;
        }

        .actif {
            text-decoration: underline;
        }
    }
}