header {
    padding-top: 45px;
    font-size: 24px;
    font-weight: 500;

    img {
        width: 210px;
        height: 68px;
    }

    nav {
        gap: 57px;

        .nav-link {
            color: black;
            text-decoration: none;
        }

        .actif {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        font-weight: 500;
        font-size: 12px;
        align-items: center;
        padding-top: 20px;
        text-transform: uppercase;

        img {
            width: 145px;
            height: 47px;
        }

        nav {
            gap: 20px;
        }
    }
}

@media screen and (max-width: 360px) {
    header {
        nav {
            gap: 10px;
        }
    }
}