#logement {
    margin-top: 45px;

    img {
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
    }

    #fleche-gauche,#fleche-droite {
        top: 17vh;
        width: 46px;
        height: 80px;
    }
    #fleche-gauche {
        left: 2vw;
    }
    #fleche-droite {
        right: 2vw;
    }
    #compteur {
        bottom: 1vh;
        left: calc(50% - 4ch);
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    #logement-header-1 {

        #logement-titre {
            h2 {
                font-size: 36px;
                font-weight: 500;
                color: #FF6060;
                margin-bottom: 5px;
            }
            #localisation {
                font-size: 18px;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 20px;
            }
        }
        
        #hote {

            p {
                font-size: 18px;
                font-weight: 500;
                color: #FF6060;
                text-align: right;
                max-width: 90px;
            }
            img {
                width: 64px;
                height: 64px;
                border-radius: 45px;
            }
        }
    }

    #logement-header-2 {
        margin-bottom: 20px;
        
        .tag {
            border: none;
            border-radius: 10px;
            background-color: #FF6060;
            color: white;
            padding: 3px 40px;
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 700;
        }

        #note {

            img {
                width: 36px;
                height: 36px;
            }
        }
    }
    
    #details {

        #description, #equipements {
            width: calc(50% - 15px);
        }

        .titre {
            background-color: #FF6060;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 700;
            color: white;
            padding: 15px 10px;

            img {
                width: 24px;
                height: 13px;
                cursor: pointer;
                transform: rotate(0deg);
                transition: transform 0.3s ease;
            }

            .img-active {
                transform: rotate(180deg);
            }
        }

        #contenu-description {
            padding: 0;
            background-color: #F6F6F6;
            font-size: 18px;
            font-weight: 400;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.5s ease;
        }

        #contenu-equipements {
            padding: 0;
            background-color: #F6F6F6;
            font-size: 18px;
            font-weight: 400;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.5s ease;

            #liste-equipements {
                list-style: none;
            }
        }

        .active {
            padding: 20px !important;
            max-height: 100% !important;
        }
    }
    
}